<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <nav>
        <ul class="nav nav-pills>
            <li class="nav-item> <a class="nav-link active" href="{{ url_for('index') }}">Главная</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ url_for('blog') }}">Блог</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ url_for('contacts') }}">Контакты</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>